/* We always load our fonts and css variables */
/* Then declare the most generic and global styles */

html, body {
    margin: 0;
}

div {
    border: 1px; 
    padding: 50px;
}

.abs-no-parent {
    background-color: cornflowerblue;
    position: absolute;
    top: 20%;
    right: 100px;  
}

.rel-parent {
    background-color: blueviolet;
    width: 50%;
    /* height positions don't exactly work as you think
    unless there is a parent element with a set height 
    (in pixels or rem) */
    /* viewport height and viewport width assign heights
    and pixels based on % of height of browser*/
    height: 200vh;
    position: relative;
}

.abs-rel-parent {
    background-color: rgb(12, 237, 16);
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 100px;
    right: 0;
}

header {
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: coral;
    z-index: 10;
}