/* Always load custom fonts and other dependencies
(like other stylesheets or CSS varsh) first */

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap')

/*Universal selector to reset some defaults*/

* {
    margin: 0;
    padding: 0;
}

/* this is how we get a full size image background */
html {
    background: url('../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: 'Kaushan Script', cursive;
    color: rgb(3, 29, 29);
}

header {
    width: 80%;
    padding: 0 10%;
    height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: gray;
    z-index: 100;
    /*flexbox properties*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url('../img/pattern\ 2.jpg');
}

header {
    color: black:
}

ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    background-color: rgb(40, 40, 40, 0.2)
}

nav li {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    width: 120px;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    /*Always define the transition property on the started stage
    of an element*/
    transition: all 1s;
}

nav a:hover {
    background-color: rgb(40, 40, 40, 0.7)
}

nav a:active{
    background-color: black;
}

/* GALLERY GRID STYLES */

.container {
    width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    /* since the polaroids divs are going to display inline blocks we need
    to zero out the font size her on the parent element to avoid some extra
    half pixel spacing that accumulates*/
    font-size: 0;
}

.polaroid {
    width: 260px;
    margin: 20px;
    display: inline-block;
    /*this is the parent element we want to absolute position elements within*/
    position: relative;
}

.polaroid img {
    width: 100%;
    height: auto;
    border: 10px solid #ccc;
    border-bottom-width: 45px;
}

.polaroid p {
    position: absolute;
    bottom: 3px;
    width: 250px;
    text-align: center;
    font-size: 1rem;
    color: #333;
}

/*TRANSFORMS AND TRANSITIONS*/

/*one number = uniform scale*/

.scale_up {
    
}